<h1 class="page-header">Welcome Admin </h1>
<h2>How many products do we have</h2>
  <div class="well">
  <%= Product.all.length %>
  </div>
<h2>How many categories do we have</h2>
  <div class="well">
  <%= Category.all.length %>
  </div>